doctype html
html(lang="en")
  include includes/head.pug
  body
    include includes/dashboard.pug
            
    script(src='vendor/jquery/jquery.min.js')  
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    script(src='javascripts/index.js')
